<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <!-- we are saying that run the code and give the output  -->
        <h1>Hello world <%= 2+2 %> </h1>
        <!-- if the text is not there the default will print -->
        <h1><%= locals.text || 'Default' %> </h1>
        <!-- <h1><%= text %>  </h1> -->
    </body>
</html>